#logo{
    width: 50px;
    height: 50px;
    text-align: left;
}
.container{
    display: grid;
    grid-template-columns: auto 50%;
    height: 100%;
}
body, html{
    margin: 0;
    height: 100%;

}
.left_body{
    float: left;
    width: 100%;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    background-image: url(Backgroud.jpg);
    background-size: cover;
}
.right_body{
    float: right;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
.detail{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}
.labels{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 14px;
    letter-spacing: 0.604px;
    text-transform: none;
    color: var(--brand-secondary-text, #000000);
    position: left;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: lighter;

}
.login_field{
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}
.usrlogin{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.detail{
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    outline: none;
}
.detail:focus{
    border: 2px solid rgb(75, 71, 71);
}

#loginBtn:hover{
    opacity: 1;
}
#pwdreset{
    display: block;
    color: burlywood;
    margin: 20px 0px 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#pwdreset:hover{
    color: brown;
}
.login_options{
    text-align: center;
    margin: 50px;
}
.login_buttons{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px auto; /* Center buttons horizontally */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(211, 211, 211);
}
img{
    padding: 0 5px ;
    width: 15;
    height: 15px;
    vertical-align: middle;
}
h1.header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    color: blue;
}
.link:hover{
    color: brown;
}
.email{
    display: block;
    margin-top: 20px;
}
#loginBtn{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px auto; /* Center buttons horizontally */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(204, 4, 4);
    opacity: 0.5;
    color: white;
}
#loginBtn:hover{
    opacity: 1;
    cursor: pointer;
}
h1{
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
}

.column{
    flex: 1;
    margin-right: 20px; /* Add margin between columns */
    padding: 10px; /* Optional: Add padding for better visualization */
}
.column:last-child{
    margin-right: 0;
}

.leftright{
    display: flex;
    width: 600px;
    height: 200px;
    margin: auto;
    font-size: 30px;

}